.btn-primary {
  color: #fff;
  background-color: $blue-light;
  background-image: none;
  border-color: $blue-light;
  &:hover {
    color: #fff;
    background-color: $blue-light;
    border-color: $blue-light;
  }
}

.btn-secondary {
  color: #fff;
  background-color: $primary-green;
  background-image: none;
  border-color: $primary-green;
  &:hover {
    color: #fff;
    background-color: $primary-green;
    border-color: $primary-green;
  }
}
