.featured-top {
  background-image: url("../images/banner_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .block-page-title-block {
    h1 {
      color: $primary-white;
      padding: 3rem 0;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 1.6rem;
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: black;
  }
  &:after {
    background-color: transparent !important;
    content: "";
    position: absolute;
    height: 100%;
    bottom: 0;
    opacity: 0.9;
    width: 100%;
  }
  .section {
    position: relative;
    z-index: 1;
  }
}
.has-featured-top {
  .featured-top, .block-region-top {
    &:after {
      background-color: transparent !important;
    }
  }
}
