/**
 * @file
 * Footer Styling.
 */
#page-wrapper {
  .site-footer {
    background: -moz-linear-gradient(top, $footertopbg 50%, $black 50%) !important;
    background: -webkit-linear-gradient(top, $footertopbg 50%,$black 50%) !important;
    background: linear-gradient(to bottom, $footertopbg 50%,$black 50%) !important;
  }
}
.site-footer {
  .container {
    padding: 3rem 0 0;
    padding-bottom: 3rem;
  }
  color: $gray-600;
  font-size: 14px;
  margin-top: 30px;
  .layout-container {
    padding: 0 $spacer;
  }
  h2 {
    font-size: 18px;
    color: $primary-white;
    &:after {
      content: "";
      width: 15%;
      height: 2px;
      background-color: $primary-white;
      display: block;
      margin-top: 10px;
    }
  }
  .nav {
    display: inherit;
    li {
      a {
        padding: 0;
        color: $gray-600;
        &:hover {
          color: $gray-500;
        }
      }
    }
  }
  .form-group {
    margin-bottom: 0;
    padding: 0;
  }
  .simplenews-subscriber-form {
    .form-group {
      margin-bottom: 5px;
    }
  }
  .region-footer-copyright {
    margin-top: 35px;
    background: $copyrightbg;
    text-align: center;
    padding: 10px 0px;
    color: $white;
    justify-content: center;
    font-size: 12px;
    .block-system-powered-by-block {
      width: 100%;
      font-size: 12px;
      .content {
        a {
          color: $white;
        }
      }
    }
    p {
      margin-bottom: 0px;
    }
  }
  .contact-message-feedback-form {
    background: $white;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    margin: auto;
    max-width: 400px;
    button#edit-preview {
      display: none;
    }
    label {
      color: #d0d0d0;
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 0px;
      margin-top: 20px;
    }
    h3 {
      text-align: center;
      text-transform: uppercase;
      color: $primary;
    }
    .form-control {
      border-radius: 0px;
      color: $gray-800;
      font-size: 14px;
      padding: 10px 0px 10px 0px;
      border-width: 0px 0px 2px 0px;
      border-color: #c3c3c3;
    }
    textarea.form-control {
      min-height: 100px;
    }
    .btn {
      background: $primary;
      color: $white;
      border-radius: 20px;
      font-size: 12px;
      text-transform: uppercase;
      padding: 10px 35px;
      margin: 20px auto 0px;
      display: inherit;
      &-primary {
        border-color: transparent;
      }
   }
  }
  ul.address {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      min-width: 50%;
      color: $gray-800;
      display: flex;
      align-items: center;
      margin-top: 25px;
      i {
        color: $footertopbg;
        background: $black;
        width: 36px;
        height: 36px;
        line-height: 36px;
        padding-left: 5px;
        font-size: 18px;
        text-align: center;
        border-radius: 100%;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
  .row.contact {
    margin-top: 50px;
    color: $footertopbg;
    font-size: 14px;
    @media (max-width: 767px) {
      color: $black;
    }
    ul {
      li {
        a {
          color: $footertopbg;
          @media (max-width: 767px) {
            color: $black;
          }
        }
        padding: 0px 0px 5px;
      }
      list-style: none;
      padding: 0px;
      margin: 0px;
    }
    h3 {
      font-size: 16px;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
    ul.socials {
      display: flex;
      align-items: center;
      li {
        padding: 0px 5px 0px 0px !important;
        a {
          background: $white;
          width: 26px;
          height: 26px;
          border-radius: 50%;
          padding-left: 4px;
          color: $black;
          display: inline-block;
          text-align: center;
          line-height: 26px;
        }
      }
    }
}
  #block-aboutus {
    display: flex;
    align-items: center;
    align-content: center;
    height: 50%;
  }
  #block-aboutusaddress {
    height: 50%;
  }
}

/* Footer Top Styling. */

.site-footer__top .content {
  margin-top: 0;
}

/* Footer Bottom Styling. */

.site-footer__bottom .block {
  margin: ($spacer / 2) 0;
}

.site-footer__bottom .content {
  padding: ($spacer / 2) 0;
  margin-top: 0;
}
