.block-region-top:after, .featured-top:after {
  background: #084bce !important;
}

nav.bg-primary {
  background: #ee4723 !important;
}

a.btn-light {
  color: #ee4723 !important;
}

a.btn-dark {
  background-color: #ee4723 !important;
}

.path-frontpage .block-region-bottom .latespost:after {
  background: #ee4723  !important;
}

.btn.btn-default {
  background: #ee4723  !important;
}

.banner-content {
  color: #FDFDFD !important;
}
body {
  background-color: #ffffff;
  color: #32383e;
}
a {
  color: #0071b3;
}
a:hover {
  color: #0071b4;
}
.tile {
  background-color: #ffffff !important;
  border-color: #e9ecef !important;
}

.site-footer {
  background-color: #212529 !important;
}
