/* VARIABLES */

// colors
$primary-shade: #A8CF45;
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);
$accent-shade: #0079C0;
$accent-light: lighten($accent-shade, 37%);
$accent-dark: darken($accent-shade, 12%);
// Reassign color vars to semantic color scheme

$white: #fdfdfd;
$red: #dc3545;
$blue-shadow: #004aa0 !default;
$blue-dark: #292ab5;
$blue-light: #0085ce;
$blue-lighter: #f0f8ff;
$pink:    #ff475d !default;
$yellow: #ffc107;
$primary-green: #6dc74a !default;
$green: #28a745;
$cyan: #17a2b8;
$gray-100: #f8f9fa !default;
$gray-800: #343a40 !default;
$sky-100: #f8f9fb !default;
$theme-colors: ( primary: $accent-shade, secondary: $primary-shade, success: $green, info: $cyan, warning: $yellow, danger: $red, light: $gray-100, dark: $gray-800);
$brand-primary: $accent-shade;
$button-primary: $pink !default;
$primary-white: $white;
//$brand-success: $green;
//$brand-info: $teal;
//$brand-warning: $orange;
//$brand-danger: $red;
$brand-inverse: $primary-shade;
// Body
//
// Settings for the `<body>` element.
//$body-bg: $white;
//$body-color: $gray-dark;
$inverse-bg: $primary-shade;
//$inverse-color: $gray-lighter;
// Links
//
// Style anchor elements.
$link-color: $accent-shade;
$link-decoration: none;
$link-hover-color: $accent-dark;
$link-hover-decoration: underline;
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;

//Font sizes
$small-font-size: 80%;
$standard-size: 14px;
$black: #000000;

// Header
$headerbg: #ee4723;
$primary: #ee4723;
$copyrightbg: #272727;
$secondarycolor: #414141;
$footertopbg: #f1f1f1;